@import '../../SCSS/index.module.scss';

.RulesContainer {
  //@include customBorder(2px, solid, hotpink);
  height: 100vh;
  @include customLayout(flex-start, center, column);
  h1 {
    margin: 5% auto;
    color: aqua;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
  ul {
    color: hotpink;
    font-size: 2.5rem;
    text-align: justify;
    width: 80%;
    @media (max-width: 450px) {
      font-size: 2rem;
      height: auto;
    }
    @include center(column);
    li {
      margin: 2% auto;
      text-align: justify;
      //@include showMe();
      list-style: circle;
    }
  }
  a {
    color: aqua;
    font-size: 3rem;
    margin-top: 4%;
  }
  a:hover {
    color: hotpink;
    cursor: pointer;
  }
}
