.gridContainer {
  display: flex;
  flex-direction: column;
  padding: 20%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  height: 15px;
  width: 15px;
  border: 1px solid blue;
  margin: 1px;
  background-color: white;
}

.alive {
  background-color: black;
}
